.header {
  display: flex;
  gap: 8px;
  justify-content: center;
  background-color: #fff;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.header__logo {
  width: 94px;
  height: 26px;
  margin: 10px 0 10px;
  align-self: center;
}

@media screen and (max-width: 375px) {
  .header {
    margin-bottom: 20px;
  }
}
