.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: solid 1px;
  border-color: rgba(21, 21, 21, 0.4);
}

.profile__image {
  height: 190px;
  width: 190px;
  border-radius: 10px;
}

.profile__description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
}

.profile__name {
  max-width: 420px;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__bio {
  margin-top: 12px;
  max-width: 420px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__button {
  display: flex;
  gap: 8px;
  background-color: transparent;
  border: none;
  align-self: start;

  font-size: 16px;
  line-height: 16px;
  margin-top: auto;
  font-family: "Poppins", sans-serif;
  opacity: 70%;
}

.profile__button:hover {
  opacity: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.profile__edit-button {
  align-self: center;
  width: 15px;
  height: 15px;
}

.profile__add-button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  gap: 8px;
  width: 157px;
  height: 52px;
  background-color: #212121;
  color: #fff;
  align-self: flex-end;
  border: none;
  border-radius: 8px;
  padding: 18px 32px;
}

.profile__add-button:hover {
  opacity: 80%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.profile__add-icon {
  width: 12px;
  height: 12px;
  align-self: end;
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
  }

  .profile__image {
    margin-bottom: 12px;
  }

  .profile__description {
    margin: 0 auto;
    max-width: 288px;
  }

  .profile__name {
    text-align: center;
  }

  .profile__bio {
    text-align: center;
  }

  .profile__button {
    align-self: center;
    margin-top: 32px;
  }

  .profile__add-button {
    width: 288px;
    align-self: center;
    margin-top: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 460px) {
  .profile__name {
    font-size: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  .profile__image {
    height: 80px;
    width: 80px;
  }
}
